# TASK #1. DEFINE A PANDAS DATAFRAME

In [ ]:
# 판다스, 넘파이 임포트

## 1. 다음 표로 이루어진 데이터프레임을 구성하라.

![image.png]()

In [ ]:
# 여기에

In [ ]:
# Let's obtain the data type

In [ ]:
# you can only view the first couple of rows using .head()

In [ ]:
# you can only view the last couple of rows using .tail()

In [ ]:
# You can obtain the shape of the DataFrame (#rows, #columns)

In [ ]:
# Obtain DataFrame information

## MINI CHALLENGE #1:
- **A porfolio contains a collection of securities such as stocks, bonds and ETFs. Define a dataframe named 'portfolio_df' that holds 3 different stock ticker symbols, number of shares, and price per share (feel free to choose any stocks)**
- **Calculate the total value of the porfolio including all stocks**
- **Implement a function cal_total_sum(df) that takes df as input and returns the total value.**



* 포트폴리오는 주식, 채권, ETF와 같은 증권의 모음임. 'portfolio_df'라는 데이터프레임을 정의하고, 3개의 서로 다른 주식 심볼, 보유 주식 수 및 주당 가격을 포함하도록 설정하라. (주식은 자유롭게 선택 가능)
* 모든 주식을 포함한 포트폴리오의 총 가치를 계산하라.
* df 가 인풋으로 들어가면 총 가치를 계산하여 반환해주는 함수 cal_total_sum(df) 로 구현하라.

In [ ]:
# 여기에
# {주식이름: [], 주식가격: [], 주식수:[]}







# TASK #2. READ CSV AND HTML DATA

## 1. csv 파일을 불러와서, 데이터 프레임을 구성한다.

In [ ]:
# employee_information.csv 를 불러와서 데이터프레임으로 만들자.

## 2. HTML 데이터를 읽어와보자.

In [ ]:
# Read tabular data using read_html: https://www.basketball-reference.com/leagues/NBA_2024_per_game.html
# You may need to install lxml in your environment.
# use pd.read_html

## MINI CHALLENGE #2:**
- **Write a code that uses Pandas to read tabular US retirement data**
- **You can use data from here: https://www.ssa.gov/oact/progdata/nra.html**

In [ ]:
# 여기에

# TASK #3. WRITE DATAFRAME INTO CSV

## 1. 딕셔너리로 데이터프레임을 만들어보자.

In [ ]:
emp_dic = {'Employee ID':[1, 2, 3, 4],
                            'Employee Name':['Laila Aly', 'Kate Steve', 'Nicole Mitch', 'Francis Morris'],
                            'Annual Salary [$]':[35000, 40000, 100000, 25000],
                            'Years with Company':[5, 7, 10, 1]}

In [ ]:
# 여기에

## 2. 이 데이터프레임을 파일에 저장해보자.

In [ ]:
# write to a csv file without an index

## MINI CHALLENGE #3:**
- **Use set index = False and rerun the cell. Comment on the output CSV.**

In [ ]:
# 여기에

# TASK #4. SETTING/RESETTING INDEX

## 1. 판다스의 데이터 형태들은 기본적으로 인덱스를 숫자로 달아준다.

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
# Note that a numeric index is being set by default
employee_df = pd.read_csv('employee_information.csv')
employee_df

## 2. 하지만, 자기에게 맞는 인덱스를 나름대로 설정할 수도 있다.

In [ ]:
# You can assign a specific column to be the index as follows
# First Name 열을 인덱스로 쓰도록 설정해보자. use 'set_index(열이름)'
# 원본에 반영되도록 하려면 inplace = True 를 써야함.

## 3. 다시 정리할 수도 있다. 인덱스 고치려다 망했을때..

In [ ]:
# You can go back and use numeric index using reset_index

## 4. 불러올 때부터 인덱스로 쓸 열이름을 설정해서 불러올 수도 있다.

In [ ]:
# Alternatively, you can set the index name when you read the csv file as follows
employee_diffindex_df = XX

## MINI CHALLENGE #4:**
- **Load the employee_information.csv and then set the "Last Name" column as the index**

In [ ]:
# 여기에

# TASK #5. SELECTING COLUMNS FROM A DATAFRAME

## 1. 다시 깨끗한 데이터를 불러와보자.

In [ ]:
employee_df = XXX
employee_df

## 2. 이메일에 대한 열만 떼어서 확인해보자.

In [ ]:
# Return a column from the DataFrame
# Note that the output will be a Pandas Series (you can automatically tell by the lack of formating)

## 2. 추출된 열의 데이터 타입이 시리즈가 맞는지 확인해보자.

In [ ]:
# Confirm the datatype of sample

## 3.열이름 형태로 불러올 수도 있다.

In [ ]:
# Alternatively, you can use the following syntax to do the same
# Note that this method will not work if there are spaces in the column names

#### Q: 두 방법의 공통점과 차이점을 정리하라.

In [ ]:
# 여기에

## 4. Years with company 열을 따로 떼어내자.

In [ ]:
# Since the column name has spaces, this will be the only way that will work!

## 5. 여러 열을 한번에 떼어내보자.

In [ ]:
# Let's select multiple columns from the DataFrame
# you need to define a list containing all column names that you would like to select
# Note that since we collected more than one column, the output is a DataFrame (Notice the rich formatting)

## 6. 위에서처럼 여러 열을 뽑으면 데이터타입이 달라지는지 확인해보자.

In [ ]:
# Note that sample is now a DataFrame and not a Pandas Series (since it has multiple columns)
# You can use type to confirm or you can tell from the rich text formating

pandas.core.frame.DataFrame

## 7. 미리 추출할 열을 변수에 저장해서 간결하게 표현할 수 있다.

In [ ]:
# Alternatively, you can define a list first and then use it to select columns

## 8. 행을 추출하고 싶으면?

In [ ]:
# In order to access a given row in the dataframe
# df[X:Y] 슬라이싱 형태로 진행 할 수 있음.

## MINI CHALLENGE #5:**
- **Select the following columns from the dataFrame Salary, Years with Company, and Postal Code**

In [ ]:
# 여기에

# TASK #6. ADDING/DELETING COLUMNS TO DATAFRAME

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
employee_df = pd.read_csv('employee_information.csv')
employee_df

## 1. 새로운 열이 필요하다.

In [ ]:
# Let's assume that we want to add a new column to the dataframe
# 새로운 열 'Age' 를 추가하라. 이 때 숫자는 데이터 프레임의 총 행 갯수만큼 np.random.randn 에서 추출하여
# 전체적으로 정수로 만들어서 추가하라.

## 2. insert() 함수를 사용하여 원하는 위치에 지정하여 넣을 수도 있음.

In [ ]:
# You can also insert a new column in a given position
# insert() : 맨 앞에 다시 age2 를 넣으라.

## 3. 원하는 열 삭제하기

In [ ]:
# Delete a column from a DataFrame
# del employee_df['Age2'] 를 수행해보라.

## 4. pop 을 사용하여 특정 열을 삭제하면서 새로운 변수에 저장.

In [ ]:
# Remove a column from a DataFrame and store it somehwere else using pop

## 5. 여러 열을 한번에 버리고 싶을 때: drop(labels = [], axis = 1)

In [ ]:
# employee_df 에서 Last Name, Salary 삭제해보자.

## MINI CHALLENGE #6:**
- **load the employee_information.csv file and perform the following: (assume any reasonable values)**
    - **Add a column indicating whether the employee has a mortgage or not**
    - **Add a column indicating the value of mortage in dollars**

In [ ]:
# 여기에
# True, False  로 만들기, randint 0-100까지 로 만들기.
# 그런데 True 인 사람들만.

# 7. LABEL-BASED ELEMENTS SELECTION FROM A DATAFRAME ".LOC()"

In [ ]:
# Load the csv file and set the last name as the index
employee_df = pd.read_csv('employee_information.csv', index_col = 'Last Name')
employee_df

## 1. 인덱스를 알파벳 순서로 정렬해보자.

In [ ]:
# Sort the dataframe in an alphabetical order
# 원본에 바로 적용되도록 한다.

## 2. .loc

* loc은 행과 열을 필터링하는 데 사용됨
* loc은 레이블 기반(label-based) 방식이므로, 선택하려는 행(또는 열)의 이름을 제공해야 함
* 참고: iloc은 "정수 인덱스 기반(integer index-based)" 방식으로, 행/열의 정수 인덱스를 사용하여 필터링할 수 있음
* 참고: "Aly"라는 성(last name)은 데이터프레임에서 한 번만 등장했기 때문에 Series가 반환됨

In [ ]:
# 다음을 실행
employee_df.loc['Aly'] # 라벨 베이스라는 의미는 무엇인가.


* 참고: 콜론 ":"을 사용하여 여러 행을 선택할 수 있음
* 참고: 이 방식은 **포함(inclusive)** 되므로, "Aly"와 "Patton"이 출력된 데이터프레임에 포함됨
* 주의: 정수 기반 인덱스(iloc())를 사용할 경우 결과가 다를 수 있음

In [ ]:
# 다음을 실행
employee_df.loc['Aly':'Patton'] # 라벨을 이용한 슬라이싱

In [ ]:
# Select all elements up to and including 'Keller' index

In [ ]:
# if you want to select multiple rows, you can pass them as a list as follows
employee_df.loc[['Keller', 'Steve', 'Mo']]

In [ ]:
# You can also randomly select a fraction of the DataFrame
# Setting axis = 0 means rows, setting index = 1 means columns
# sample ()
employee_df.sample(n=XX, axis = 0)

In [ ]:
# return a percentage (Ex: 30%) of the rows
employee_df.sample(frac = XXX , axis = XXX)

## MINI CHALLENGE #7:**
- **Load the csv data and use the "first name" column as the index**
- **Randomly select 2 rows from the DataFrame. Rerun the code and ensure that random rows are being selected**

In [ ]:
# 여기에

# 8. INTEGER INDEX-BASED ELEMENTS SELECTION FROM A DATAFRAME "iLOC()"

In [ ]:
# Load the CSV file with default index
employee_df = pd.read_csv('employee_information.csv')
employee_df

## 1. 정수형 인덱스를 통한 값 접근 (행 기반)

In [ ]:
# You can access rows with their numeric index using iloc

## 2. 여러열에 접근하기.

### **정수 인덱스를 사용하여 여러 행 선택 (iloc)**  

- `iloc`과 콜론 `:`을 사용하여 여러 행을 숫자 인덱스로 접근할 수 있음.  
- `iloc`은 **배타적(exclusive)** 방식이므로, 마지막 요소는 포함되지 않음. (조금 헷갈릴 수 있음!)  
- 인덱스 `2`부터 시작하여 `5` 이전까지 선택했기 때문에, **인덱스 2, 3, 4**가 선택됨.

In [ ]:
# You can access multiple rows with their numeric index using iloc and colon :
# Note that using iloc is exclusive, meaning that we did not include the last element (quite confusing I know!)
# We went from index = 2 up until and not including index 5 so index 2,3, and 4 are the one selected

## 3. 인덱스 4 전까지 갖고 오자.

In [ ]:
# all up until and not including index 4

## 4. 여러 행을 동시 선택

In [ ]:
# Multiple elements are selected using a list of indexes

## 5. 슬라이싱 : 원하는 **행(row)과 열(column)**을 선택하여 데이터프레임의 일부를 슬라이싱할 수 있음.

In [ ]:
# Slicing a piece of the dataframe by selecting which row and column you would like to select
# 4번째 행의 앞의 3열만 떼어내자.

## MINI CHALLENGE #8:**
- **Write a code that selects the last two rows in the DataFrame using two different methods**

In [ ]:
# 여기에

# 9. BROADCASTING OPERATIONS & SETTING NEW DATAFRAME VALUES

In [ ]:
# Pandas is used to read a csv file and store data in a DataFrame
employee_df = pd.read_csv('employee_information.csv')
employee_df

## 1. 연봉을 1000 달러씩 증가시킨 셀 만들기

In [ ]:
# Let's assume that we want to update the salaries of all our employees by $1000
# Salary 열 자체의 값이 1000씩 증가되도록.

## 2. add, subtract 메소드를 쓸 수도 있음.

In [ ]:
# Alternatively, you can add or subtract as follows

## 3. USD 를 CAD 로 바꿔서 새로운 열 Salary(CAD)를 추가하자.

In [ ]:
# Let's convert from USD to CAD using the exchange rate 1 USD = 1.3 CAD

## 4. 이메일 주소를 업데이트하자.

In [ ]:
# Decided to update the email address of a given customer
# Kate 의 이메일을 gmail.com 으로 바꾸자.

## MINI CHALLENGE #9:**
- **Let's assume that all employees have been performing really well and their salaries have increased by 12% annualy. Calculate the sum of all employees salaries.**

In [ ]:
# 여기에

# 10. SORTING AND ORDERING

In [ ]:
# Let's read a CSV file using Pandas as follows
employee_df = pd.read_csv('employee_information.csv')
employee_df

## 1. 은행에서 근무한 근속 연수대로 데이터프레임을 정렬하라.

In [ ]:
# You can sort the values in the dataframe according to number of years with bank

## 2. 원본이 바뀌었는가

In [ ]:
# Note that nothing changed in memory! you have to make sure that inplace is set to True

In [ ]:
# Set inplace = True to ensure that change has taken place in memory

## 3. 내림차순으로 정렬해보자.

In [ ]:
# You can sort the values in a descending order as follows

## 4. index 를 올림차순으로 정렬해보자.

In [ ]:
# You can sort the dataframe with index instead of values as follows

## MINI CHALLENGE #10:**
- **Sort employees by salaries instead of years with Company. Make sure to update values in-memory.**

In [ ]:
# 요기에

# EXCELLENT JOB!

# Q1. 직원의 근속연수와 급여의 관계

주어진 데이터셋을 이용하여 직원들의 Years with Company (근속연수)와 Salary (급여) 간의 관계를 시각화하라.
X축은 근속연수, Y축은 급여로 설정하고, 산점도를 그려라.

In [ ]:
# 여기에

# Q2. 직원의 급여 랭킹과 급여 분포

직원들의 Salary를 기준으로 랭킹을 매기고, 급여가 높은 순서대로 바 차트를 작성하라.
rank() 함수를 사용하여 급여 순위를 생성한 후, 상위 10명의 급여를 시각화하라.

In [ ]:
# 여기에