# TASK #1. IMPORT AND EXPLORE DATASET

In [ ]:
# 일단 판다스 임포트

### ecommerce data 를 import 하자.

In [ ]:
#
sales_df =   # encoding = 'unicode_escape' 옵션을 추가하여 데이터프레임으로 만듦.

### 데이터타입을 확인하자.

In [ ]:
#

### Invoice date 를 datetime format 으로 변경하자.

In [ ]:
# .to_datetime 를 사용한 후, 데이터타입이 잘 바뀌었는지 .info() 로 확인

### 데이터에 Null (NA) 값이 몇개 존재하는지 확인하자.

In [ ]:
#

## MINI CHALLENGE #1:**
- **How many unique countries are present in the dataset? List all countries**

In [ ]:
#

# TASK #2. GROUPBY

### 데이터를 불러오자. sales_df 로

In [ ]:
#

### 각 나라에 해당하는 고객으로 그룹화해서, 평균 Unitprice 을 얻어보자.

In [ ]:
#

### 각 나라에 속한 고객마다 최소 구매 금액 (UnitPrice) 를 구해보자.

In [ ]:
#

### 각 나라별 최대 구매 금액을 구해보자.

In [ ]:
#

### 구매 날짜 (InvoiceDate) 에 따라 그룹화하여, 같은 날에 구매한 사람들의 구매 금액 평균을 구해보자.

In [ ]:
#

### 나라별 같은 날짜에 구매한 사람들을 묶어서 구매한 평균 금액을 구해보자.

In [ ]:
#

### MINI CHALLENGE #2:**
- **What is the maximum and minimum prices at 2011-12-09 12:25:00**

In [ ]:
#

# TASK #3. CREATE MULTI-INDEXED DATAFRAME

### 데이터를 불러오자. 깨끗하게.

In [ ]:
sales_df = pd.read_csv('ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df

### 고유한 국가와 Invoice Date 가 몇개 있는지 확인해보자. 무엇을 상위 인덱스로 사용하는게 좋을지 결정하라.

In [ ]:
#

### 다시 데이터 프레임의 인덱스를 위에서 결정한 순서의 멀티 인덱스로 설정하라. (국가와 InvoiceDate).

In [ ]:
#

### Country 를 중심으로 정렬해보자.

In [ ]:
# Sort countries to start with alphabetical order

### 인덱스를 여러개 사용하여 특정 값에 접근해야함. 인덱스 형태를 확인해보자.

In [ ]:
# Now you need more than one index to access any element

### 인덱스에 해당하는 열들의 이름을 확인해보자.

In [ ]:
#

## MINI CHALLENGE #3:**
- **Sort the DataFrame in a descending order (countries and dates)**

In [ ]:
#

# TASK #4. MULTI-INDEXING OPERATIONS - PART #1

In [ ]:
# 깨끗한 데이터를 불러오되, Country 가 제일 바깥 인덱스, 그 다음이 InvoiceDate 가 되도록 하여서 불러오자

### get_leve_values(레벨번호)  를 적용해서, 해당 레벨의 인덱스 값들을 얻어보자.

In [ ]:
#  Country 는  레벨 0, InvoiceDate 는 레벨 1 (이름을 넣어서 구할 수도 있음)

### 멀티인덱스의 이름을 바꿔보자.  set_names 사용.

In [ ]:
#

## MINI CHALLENGE #4:**
- **Use InvoiceDate and Country in order as the multi-index**

In [ ]:
#

# TASK #5. MULTI-INDEXING OPERATIONS - PART #2

In [ ]:
sales_df = pd.read_csv('ecommerce_sales.csv', encoding = 'unicode_escape')
sales_df.set_index(keys = ["Country", "InvoiceDate"], inplace = True) # 일단 부른다음 다시 인덱스 설정도 가능.
# Sort countries to start with alphabetical order
sales_df.sort_index(inplace = True)
sales_df

### 현재 데이터에서 loc 을 사용하여, 2011년 1월 11일의 Australia 에서 판매된 금액 내역에 접근해보자.

In [ ]:
# you can use a multi-index reference to access specific elements
# Alternatively, you can use a column name instead

###  iloc 을 사용하여 위와 동일한 정보에 접근해보자.

In [ ]:
# feed index as a tuple (important to avoid confusion)
# first argument references rows and the second argument references a column

### sales_df 를 transpose 한 다음에 어떤 형태가 되는지 확인해보자.

In [ ]:
# You can use transpose to Transpose indexes and columns
# reflect the DataFrame over its main diagonal by writing rows as columns and vice-versa.

### 이렇게 변환된 매트릭스에서 UnitPrice 의 Australia 와 1/10/2011 9:58 에 얻어진 주문 내역을 뽑아 보자.

In [ ]:
#

### 이 상태에서 여러 행의 정보를 얻고 싶다면? 'Australia', '1/10/2011 9:58' 열부터 ('Belgium', '1/10/2011 8:58') 열까지.

In [ ]:
#

### MINI CHALLENGE #5:**
- **Calculate the average unit price for transactions occured in "United Kingdom" at "12/1/2010 8:26"**

In [ ]:
#

# TASK #6. DEALING WITH DATE TIME - BASIC PYTHON DATETIME MODULE

### 파이썬의 코어 함수 datetime 모듈을 알아보자. (판다스 상관없음) 이를 위해, datetime 모듈을 dt 로 임포트하자.

In [ ]:
# datetime is one of Python's core standard libraries
# We are going to use two methods to deal with dates/times: (1) date and (2) dateime
# date: helps us define dates only without including time (month, day, year)
# datetime: helps us define times and dates together (month, day, year, hour, second, microsecond)

#

### 자신의 생일을 날짜형 데이터로 만들어보자. (dt.date)

In [ ]:
#

### 그 데이터를 문자 형태로 만들어보자. str() 함수 사용

In [ ]:
# Check the data type (datetime object)

In [ ]:
# Convert it into string to view the date and time

### 이 date 는 연도, 월, 일을 속성으로 갖고 이를 분리할 수 있음.

In [ ]:
# 각각으로 분리해보자.

###  자신이 태어난 시간도 포함해서 datetime 객체로 만들어보자.

In [ ]:
#

### 자신의 생일과 태어난 시간을 각각 분리해보자.

In [ ]:
#

### 달력을 출력할 수 있을까? 다음을 실행해보자.

In [ ]:
#
import calendar
print(calendar.month(2021, 3))

### 판다스의 문자 시리즈를 datetime 형태로 만들자.

In [ ]:
# 팀원의 생일날짜 문자로 된 시리즈를 만들어보자.
dates = pd.

#### 만들어진 dates 시리즈를 pd.to_datetime() 에 인풋으로 보내 데이트타임 형태로 변환시켜보자.

In [ ]:
#

## MINI CHALLENGE #6:**
- **Use Python's datetime method to write your date and time of your birth! Convert it into string format**

In [ ]:
#

# TASK #7. DEALING WITH DATE TIME - HANDLING DATES AND TIMES USING PANDAS

### 판다스에서 날짜 시간 데이터 다루기: pd.Timestamp 로 자신의 생일에 해당하는 객체를 만들어보자.

In [ ]:
# Timestamp is the pandas equivalent of python’s Datetime and is interchangeable with it in most cases.

### datetime object 로 생일을 만든다음, Timestamp 로 변형해보자.

In [ ]:
#

### 시간에 대한 연산을 하기가 좋다. 판다스에서 날짜 시간 객체를 잘 다루면!

In [ ]:
# Calculate difference between two dates: 팀원의 생일 사이 차이를 계산해보라.

### 임의로 세 날짜를 지정한 후, 이 날짜들을 리스트로 만들어보라.

In [ ]:
#

### DatetimeIndex 를 써서 날짜로 이루어진 데이터 집합을 만들어보자.

In [ ]:
#

### 가게 판매량에 대한 다음과 같은 리스트가 있다고 해보자.

In [ ]:
# Define a list that carries 3 values corresponding to store sales
sales = [50, 55, 60] # 임의의 값

### 그 판매량을 시리즈로 만들어보자. 이 때 인덱스를 위에서 만든 datetimeindex 로 설정해보자.

In [ ]:
#

### date_range 를 사용하여 2020년 1월 1일부터 2020년 4월 1일까지의 날짜를 1일 간격으로 만들어보라.

In [ ]:
#

### 위에서 date_range 로 만든 날짜 형태들의 집합과 그 안에 속한 한 요소의 데이터 타입을 확인하라.

In [ ]:
#

### 위의 시작과 끝 날짜 범위에서 한달 차이가 나는 날짜들의 집합을 생성해보라.

In [ ]:
#

### MINI CHALLENGE #7:**
- **Obtain the business days between 2020-01-01 and 2020-04-01**

In [ ]:
#

----

# 1. ecommerce 에서 배송 기간의 분포를 그려보자 (수업시간 데이터)

In [ ]:
#

# 2. 월별 평균 배송 기간을 플랏하라.

In [ ]:
#

# 3. 2000년도 IBM 거래량을 플랏해보라.

In [ ]:
#